.logButton {
    color: green;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid green;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;

    
}
.buttonsWrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-end;
    margin-bottom: 70px;
    justify-content: center;
}
